

<h1>Sample App- furious-moon-79</h1>

<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application now pulled in from Heroku and pushed from the mac.
</p>

<%= link_to "Sign up now!",signup_path, :class => "signup_button round" %>

